
$brand-primary: lighten(#E50067, 6.5%);

@import "../stylesheets/_bootstrap.scss";


@media (max-width: 900px) {
  .gcse-navbar {
    display:none;
  }
}

@media (max-width: 767px) {
  .gcse-navbar {
    display:block;
  }
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-header {
  text-align: center;
  font-size: 24px;
}

.my-modal-footer {
  padding:10px 0 10px 0;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

h5 {
  padding: 10px 0 0 0;
  margin: 0 0 0 0;
  width:auto;
  length:auto;
}

p {
  line-height:1.7em;
}

@media (max-width: 991px) {
  .col-md-3:not(:first-child) {
    margin-top:80px;
  }
}
.sidenav {
  margin-top:95px;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

@media (max-width: 991px) {
  .sidenav {
    display:none;
  }
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #0066aa;
}

.modal-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  margin-left: auto; /* Same as the width of the sidenav */
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .main {
    width: 790px;
  }
}

@media (min-width: 992px) {
  .main {
    margin-left:160px;
    width: 810px;
  }
}

@media (min-width: 1200px) {
  .main {
    margin-left:160px;
    width: 1010px;
  }
}
@media (min-width: 1370px) {
  .main {
    margin-left:auto;
  }
}
.red-kbd  {
  font-family: monospace, monospace;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #8B0000;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.original-header {
  padding: 20px 0px 20px 0px;
  border-top:solid 2px;
  border-bottom:solid 2px;
}

.navbar-header {
  min-height: 75px;
}

.glyphicon-resizel {
  font-size: 99px;
}

.glyphicon-resizem {
  font-size: 35px;
}

.glyphicon-yellow {
  color:#FFBB00;
}
.glyphicon-blue {
  color:#0F7DC2;
}
.glyphicon-purple {
  color:	#8c0073;
}
.glyphicon-red {
  color:	#B22222;
}

.list-border {
  border-right: 1px solid;
  margin: 0 0 0 0;
}
.list-border-left {
  border-right: 1px solid;
  border-left: 1px solid;
  margin: 0 0 0 0;
}
.myfooter {
  margin-top: 30px;
  padding: 15px;
  text-align: left;
  border-top: 2px solid #e5e5e5;
  background-color: #404040;
  color: white;
}
.myfooter a {
  color: white;
}

.footeritem {
  color:white;
  padding: 8px;
}

.navbar-brand {
  padding: 10px 20px 0px 20px;
  text-align: left;
  min-height: 75px;
}

.navbar {
  margin-bottom: 0px;
  border: none;
  background: #FFF;
  min-height: 75px;
}

.navbar-nav {
  padding-top:10px;
}

.jumbotron {
  font-family: serif;
  color: #000;
  background-image: url("../images/station.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  margin-top:75px;
  margin-bottom:0px;
}

.jumbotron h1, .h1 {
  color: #FFF;
  margin: 0 0 0 0;
  padding: 0 0 0 2vw;
}

.jumbotron p {
  color: #FFF;
  padding-left: 2vw;
  font-size:1.5vw;
  font-weight:200;
  margin-top: 12px;
  margin-bottom: 80px;
}
@media (max-width: 320px) {
  .jumbotron p {
    font-size:10px;
  }
}

.page-header {
  border-bottom: 5px solid #6EC6D1;
}
