
$brand-primary: lighten(#E50067, 6.5%);

@import "../stylesheets/_bootstrap.scss";
.navbar-brand {
  padding: 10px 20px;
}

.navbar {
  position: relative;
  margin-bottom:0px;
  border: none;
  background: #FFF;
}

.jumbotron {
color: #FFF;
background-image: url("../images/business1920-580.jpg");
background-repeat:no-repeat;
background-size:cover;
h1, .h1 {
  color: #FFF;
}
p {
  margin-top:50px;
  margin-bottom:50px;
  font-size:$jumbotron-font-size;
  font-weight:200;
}
}
.page-header {
  border-bottom: 5px solid #6EC6D1;
}

.footer {
  position: relative;
  bottom:  0;
  width:  100%;
  height: 60px;
  background-color: #f5f5f5;
}
